header {
    background-color: black;
    font-size: 20px;
}

header img{
    width: 200px;
    padding-left: 225px;
    padding-top: 10px;
}

nav a{
    color: white;
    text-decoration: none;
}

.navigation{
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
}

nav a:hover{
    color: blue;
}

nav a:focus{
    color: white;
    background-color: blue;
}



footer a{
color: white;
}

footer {
    background-color: black;
    color: white;
}

body{
    font-family: sans-serif;
    font-size: 15px;
}

header img{
    margin-left: 350px;
}

img.a{
    margin-left: 200px;
}

main a{
    color:blue;
}

main a:visited{
    color: grey;
}

main img{
    opacity: 0.5;
}

main img:hover{
    opacity: 1;
}

footer a:visited{
    color: grey;
}

iframe{
padding-bottom: 15px;
}

footer img{
    padding-top: 15px;
}
